My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "b5ed990c-e3fe-4f30-ab21-3da385735793",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2926943-ea18-4e5a-a378-660f53e4bb5b",
              "name": "file_id",
              "value": "1ELz2SeqQCilxYVgLI_QK9l1yqRySgZWpCChhXXLFFUo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "57822279-d47b-4faa-ae66-0a42fdaa6a40",
      "name": "set file_id"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('set file_id').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -16
      ],
      "id": "fcb91c06-6e4f-4154-ab9d-3954df6bf6ee",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kBivRWAFzg0k9OTy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1136,
        -16
      ],
      "id": "3bb39c01-f2fc-49a0-b440-5fe937266185",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YsbLbP8HzYyI0dOs",
          "name": "Supabase account/ TrabalhFinalBanco"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1128,
        208
      ],
      "id": "c28e8005-4e6b-47bd-83a5-275af5077381",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hx2Aark7bDTxpJmE",
          "name": "conta trabalhoFinalBanco"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('set file_id').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1256,
        208
      ],
      "id": "753de8b5-3b15-409a-81bc-1ad984cee6a7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        320
      ],
      "id": "1f8943b6-21cd-4940-8b21-056057e996f1",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YsbLbP8HzYyI0dOs",
          "name": "Supabase account/ TrabalhFinalBanco"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        896,
        -16
      ],
      "id": "f40278ac-53dd-4892-b917-c05929b17ca8",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        896,
        352
      ],
      "id": "c8e10a35-5bab-4a6d-ab53-8b5056f4bfe2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        704,
        352
      ],
      "id": "abb35b22-bd01-4b36-a0f1-285b58030d90",
      "name": "When chat message received",
      "webhookId": "ca08d251-653b-40af-b5a2-db0c22edd999"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        560
      ],
      "id": "4d495e6e-c660-4453-bfe2-745dcdd81c5b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hx2Aark7bDTxpJmE",
          "name": "conta trabalhoFinalBanco"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        912,
        560
      ],
      "id": "cb6c5a09-772a-4b8f-bf7c-39866b03747a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jrFFca5b2hPXJkRv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Here contains all the data about databases that you can look at according to the context and the responses themselves"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1056,
        560
      ],
      "id": "7786f9ef-afcb-4d37-8ee9-d815b25ca8f1",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        784
      ],
      "id": "26d38d07-7b2a-4239-9e25-5050c7af5040",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hx2Aark7bDTxpJmE",
          "name": "conta trabalhoFinalBanco"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        912,
        736
      ],
      "id": "2c857f70-ba3e-48be-b206-acbd960b513d",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "YsbLbP8HzYyI0dOs",
          "name": "Supabase account/ TrabalhFinalBanco"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        944
      ],
      "id": "a95be7c9-042c-4834-b049-26ad26ed925b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "hx2Aark7bDTxpJmE",
          "name": "conta trabalhoFinalBanco"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "set file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set file_id": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "abc54c67-83de-4390-a415-1f802dd9aaa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9f315d0b3a74c1fc9ad2a31f486ed0124331ffe4a6b5d2d5a9d5271f10c3a16"
  },
  "id": "XRlfMBy0DnLj7dHO",
  "tags": []
}